/***************/
/* MEYER RESET */
/***************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/IczWvq5y_Cwwv_rBjOtT0w.woff) format("woff");
}
@font-face {
  font-family: 'bonvenocflight';
  src: url("/fonts/bonvenocf_light_macroman/BonvenoCF-Light-webfont.eot");
  src: url("/fonts/bonvenocf_light_macroman/BonvenoCF-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/bonvenocf_light_macroman/BonvenoCF-Light-webfont.woff") format("woff"), url("/fonts/bonvenocf_light_macroman/BonvenoCF-Light-webfont.ttf") format("truetype"), url("/fonts/bonvenocf_light_macroman/BonvenoCF-Light-webfont.svg#bonvenocflight") format("svg");
  font-weight: normal;
  font-style: normal;
}
/**************/
/* BASE RULES */
/**************/
html {
  font-size: 100%;
  height: 100%;
}

body {
  background: #fdfdfd;
  font: 18px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  /* footer on bottom http://codepen.io/cbracco/pen/zekgx */
  position: relative;
  margin: 0;
  padding-bottom: 4rem;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 780px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "bonvenocflight", Arial, sans-serif;
  color: #666;
  font-weight: bold;
  /*line-height: 1.7;*/
  margin: 1em 0 0.2em;
  padding: 0;
}
@media screen and (max-width: 640px) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
}
h1 a {
  color: inherit;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: #666;
}

p {
  margin: 15px 0;
}

a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
a:hover, a:active {
  color: #000;
}
a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, a:hover h6, a:active h1, a:active h2, a:active h3, a:active h4, a:active h5, a:active h6 {
  color: #4183C4;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.date {
  font-style: italic;
  color: #666;
}

::-moz-selection {
  color: #000;
  background: #eee;
}

::selection {
  color: #000;
  background: #eee;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/
#main {
  margin-bottom: 100px;
}

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
@media screen and (max-width: 640px) {
  .masthead {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  height: 80px;
  margin-right: 15px;
}
@media screen and (max-width: 640px) {
  .site-avatar {
    float: none;
    display: block;
    margin: 0 auto;
  }
}
.site-avatar img {
  max-height: 100%;
}
.site-avatar svg#Logo {
  height: 100%;
  max-width: 60%;
  margin-top: -5px;
}
.site-avatar svg#Logo:hover path.slash, .site-avatar svg#Logo:hover path.ex-mark {
  fill: #4183C4;
}

.site-info {
  float: left;
}
@media screen and (max-width: 640px) {
  .site-info {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: #333;
  cursor: pointer;
  font-family: "bonvenocflight", Arial, sans-serif;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: #666;
  font-size: 16px;
}
@media screen and (max-width: 640px) {
  .site-description {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px;
  font-family: "bonvenocflight", Arial, sans-serif;
  font-size: 18px;
}
@media screen and (max-width: 640px) {
  nav {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }
}
nav a {
  margin-left: 20px;
  color: #666;
  text-align: right;
  font-weight: 300;
  letter-spacing: 1px;
}
@media screen and (max-width: 640px) {
  nav a {
    margin: 0 10px;
    color: #666;
  }
}
nav a::before {
  content: '//';
  margin-right: 0.5em;
}
nav a:hover {
  color: #333;
  	/*border-bottom: 1px solid $lightGray;
		border-color: $markerColor;*/
}
nav a:hover::before {
  color: #4183C4;
}
nav a:hover::after {
  color: #4183C4;
}

.posts > .post {
  padding-bottom: 1.8em;
  margin-bottom: 0.3em;
  border-bottom: 1px solid #eee;
}
.posts > .post:hover {
  border-color: #4183C4;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post blockquote {
  margin: 1.8em .8em;
  border-left: 2px solid #666;
  padding: 0.1em 1em;
  color: #666;
  font-size: 22px;
  font-style: italic;
}
.post .comments {
  margin-top: 10px;
}
.post .read-more {
  text-transform: uppercase;
  font-size: 15px;
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
  /* footer on bottom http://codepen.io/cbracco/pen/zekgx */
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.marker {
  color: #4183C4;
}

p.comment {
  color: #666;
  letter-spacing: 0.05em;
  font-style: italic;
  padding: 0 3em;
}

p.comment:first-child::before {
  content: '/**';
  color: #4183C4;
  display: block;
  margin-left: -1.2em;
}

p.comment:last-child::after {
  content: '*/';
  color: #4183C4;
  display: block;
  margin-left: -1.2em;
}

.toolbox ul {
  list-style: none;
}

.toolbox li {
  display: inline-block;
  width: 28%;
  margin: 0 1%;
  padding: 0 0 1em 0;
  vertical-align: middle;
}

.toolbox li img {
  margin: 0 auto;
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
}
.toolbox li img:hover {
  border-bottom: 1px solid #4183C4;
}

.post p {
  line-height: 1.4em;
}
.post a {
  border-bottom: 2px dotted;
  padding-bottom: 0.05em;
}
.post a:hover {
  border-bottom-color: #4183C4;
}
.post h1::before {
  content: '/** \a *  ';
  /**/
  white-space: pre;
}
.post h1::after {
  content: '*/';
  display: block;
}
.post h2::before, .post h3::before {
  content: '/*';
  /**/
  margin-right: 0.5em;
}
.post h2::after, .post h3::after {
  content: '*/';
  /**/
  margin-left: 0.5em;
}
.post h4::before, .post h5::before, .post h6::before {
  content: '//';
  margin-right: 0.5em;
}
.post h1:hover, .post h2:hover, .post h3:hover, .post h4:hover, .post h5:hover, .post h6:hover {
  color: #000;
}
.post h1:hover::before, .post h2:hover::before, .post h3:hover::before, .post h4:hover::before, .post h5:hover::before, .post h6:hover::before {
  color: #4183C4;
}
.post h1:hover::after, .post h2:hover::after, .post h3:hover::after, .post h4:hover::after, .post h5:hover::after, .post h6:hover::after {
  color: #4183C4;
}

/***********************/
/* SYNTAX HIGHLIGHTING */
/***********************/
.highlight {
  background-color: #222;
  padding: 5px 10px;
  margin: 20px 0;
}

.highlight pre {
  /* overflow: scroll; Prefer no word wrap? Uncomment this line and comment out the 2 lines below. */
  word-break: break-all;
  word-wrap: break-word;
}

code {
  font-family: 'Courier', monospace;
  font-size: 14px;
  color: #999;
}

/* Comment */
.highlight .c, .highlight .c1 {
  color: #586E75;
}

/* Error */
.highlight .err {
  color: #93A1A1;
}

/* Generic */
.highlight .g {
  color: #93A1A1;
}

/* Keyword */
.highlight .k {
  color: #859900;
}

/* Literal */
.highlight .l {
  color: #93A1A1;
}

/* Name */
.highlight .n {
  color: #93A1A1;
}

/* Operator */
.highlight .o {
  color: #859900;
}

/* Other */
.highlight .x {
  color: #CB4B16;
}

/* Punctuation */
.highlight .p {
  color: #93A1A1;
}

/* Comment.Multiline */
.highlight .cm {
  color: #586E75;
}

/* Comment.Preproc */
.highlight .cp {
  color: #859900;
}

/* Comment.Single */
.highlight .c1 {
  color: #586E75;
}

/* Comment.Special */
.highlight .cs {
  color: #859900;
}

/* Generic.Deleted */
.highlight .gd {
  color: #2AA198;
}

/* Generic.Emph */
.highlight .ge {
  color: #93A1A1;
  font-style: italic;
}

/* Generic.Error */
.highlight .gr {
  color: #DC322F;
}

/* Generic.Heading */
.highlight .gh {
  color: #CB4B16;
}

/* Generic.Inserted */
.highlight .gi {
  color: #859900;
}

/* Generic.Output */
.highlight .go {
  color: #93A1A1;
}

/* Generic.Prompt */
.highlight .gp {
  color: #93A1A1;
}

/* Generic.Strong */
.highlight .gs {
  color: #93A1A1;
  font-weight: bold;
}

/* Generic.Subheading */
.highlight .gu {
  color: #CB4B16;
}

/* Generic.Traceback */
.highlight .gt {
  color: #93A1A1;
}

/* Keyword.Constant */
.highlight .kc {
  color: #CB4B16;
}

/* Keyword.Declaration */
.highlight .kd {
  color: #268BD2;
}

/* Keyword.Namespace */
.highlight .kn {
  color: #859900;
}

/* Keyword.Pseudo */
.highlight .kp {
  color: #859900;
}

/* Keyword.Reserved */
.highlight .kr {
  color: #268BD2;
}

/* Keyword.Type */
.highlight .kt {
  color: #DC322F;
}

/* Literal.Date */
.highlight .ld {
  color: #93A1A1;
}

/* Literal.Number */
.highlight .m {
  color: #2AA198;
}

/* Literal.String */
.highlight .s {
  color: #2AA198;
}

/* Name.Attribute */
.highlight .na {
  color: #93A1A1;
}

/* Name.Builtin */
.highlight .nb {
  color: #B58900;
}

/* Name.Class */
.highlight .nc {
  color: #268BD2;
}

/* Name.Constant */
.highlight .no {
  color: #CB4B16;
}

/* Name.Decorator */
.highlight .nd {
  color: #268BD2;
}

/* Name.Entity */
.highlight .ni {
  color: #CB4B16;
}

/* Name.Exception */
.highlight .ne {
  color: #CB4B16;
}

/* Name.Function */
.highlight .nf {
  color: #268BD2;
}

/* Name.Label */
.highlight .nl {
  color: #93A1A1;
}

/* Name.Namespace */
.highlight .nn {
  color: #93A1A1;
}

/* Name.Other */
.highlight .nx {
  color: #555;
}

/* Name.Property */
.highlight .py {
  color: #93A1A1;
}

/* Name.Tag */
.highlight .nt {
  color: #268BD2;
}

/* Name.Variable */
.highlight .nv {
  color: #268BD2;
}

/* Operator.Word */
.highlight .ow {
  color: #859900;
}

/* Text.Whitespace */
.highlight .w {
  color: #93A1A1;
}

/* Literal.Number.Float */
.highlight .mf {
  color: #2AA198;
}

/* Literal.Number.Hex */
.highlight .mh {
  color: #2AA198;
}

/* Literal.Number.Integer */
.highlight .mi {
  color: #2AA198;
}

/* Literal.Number.Oct */
.highlight .mo {
  color: #2AA198;
}

/* Literal.String.Backtick */
.highlight .sb {
  color: #586E75;
}

/* Literal.String.Char */
.highlight .sc {
  color: #2AA198;
}

/* Literal.String.Doc */
.highlight .sd {
  color: #93A1A1;
}

/* Literal.String.Double */
.highlight .s2 {
  color: #2AA198;
}

/* Literal.String.Escape */
.highlight .se {
  color: #CB4B16;
}

/* Literal.String.Heredoc */
.highlight .sh {
  color: #93A1A1;
}

/* Literal.String.Interpol */
.highlight .si {
  color: #2AA198;
}

/* Literal.String.Other */
.highlight .sx {
  color: #2AA198;
}

/* Literal.String.Regex */
.highlight .sr {
  color: #DC322F;
}

/* Literal.String.Single */
.highlight .s1 {
  color: #2AA198;
}

/* Literal.String.Symbol */
.highlight .ss {
  color: #2AA198;
}

/* Name.Builtin.Pseudo */
.highlight .bp {
  color: #268BD2;
}

/* Name.Variable.Class */
.highlight .vc {
  color: #268BD2;
}

/* Name.Variable.Global */
.highlight .vg {
  color: #268BD2;
}

/* Name.Variable.Instance */
.highlight .vi {
  color: #268BD2;
}

/* Literal.Number.Integer.Long */
.highlight .il {
  color: #2AA198;
}
